[Desktop Entry]
Version=1.0
Name=Obsidian
GenericName=Obsidian
Comment=A powerful knowledge base that works on top of a local folder of plain text Markdown files
Name[en_US]=Obsidian
GenericName[en_US]=Obsidian
Comment[en_US]=A powerful knowledge base that works on top of a local folder of plain text Markdown files
Exec=/usr/local/bin/obsidian
Path=/home/saidler/.local/share/applications/
Icon=/home/saidler/.local/share/applications/.obsidian.png
Terminal=false
Type=Application
Categories=Utility;TextEditor;
